<div id="li_body">

<%= render 'shared/sidebar' %>

<div id="li_content">
  <h1 class="invite_a_friend"></h1>
  <%= render 'invitation' %>
  <br/>


</div><!-- li_content -->

<div class="clearer"></div>
</div><!-- li_body -->



