%br
<!-- registry included container -->
.aglabel
  Which Registry To Use?:
  <span class="required">*</span></div>

  - @user.registries.each do |registry|
    - unless registry.name == "#{ENV['DEFAULT_REGISTRY_NAME']}" 
      .agfield
        = radio_button_tag registry.name.tr(' ','_'), registry  = registry.name
        /= observe_field registry.name, url: gift_registry_toggle_path(@gift), update: registry.id
      .aglabel
      
.clearer
