// registry included container


.aglabel= "Registry For This?:"

- @user.registries.each do |registry|
  - unless registry.name == "#{ENV['DEFAULT_REGISTRY_NAME']}" 
    = radio_button_tag registry.name.tr(' ','_'), registry.name
    = registry.name
    /= observe_field registry.name, url: gift_registry_toggle_path(@gift), update: registry.id
      
.clearer
